

.header {
  padding-top: 250px;
  height: 60vh;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

.header-title {
  text-shadow: 0px 0px 2px $rich-black;
  font-family: $abril-ff;
  font-size: 13rem;
  color: $white-smoke;
  letter-spacing: -5px;
  margin-top: 200px;
}



////////// MEDIA QUERIES /////////////////

@media (max-width:900px) {
  .header-title {
    font-size: 8rem;
  }
}

@media (max-width:580px) {
  .header {
    background-attachment: scroll;
    height: 500px;
    background-size: 180%;
    padding-top: 40px;
  }

  .header-title {
    font-size: 8rem;
    margin-top: 250px;
    text-align: center;
  }
}

@media (max-width: 340px) {
  .header {
    height: 300px;
  }
  .header-title {
    font-size: 6.5rem;
    margin-top: 10px;
    line-height: 5.5rem;
    letter-spacing: .025rem;
  }
}
