.menu {
  position: fixed;
  width: 100%;
  background: $isabelline;
  height: 70px;
  border-bottom: 1px solid $dark-cerulean;
}

.constellation-icon img{
  height: 50px;
  margin-left: 1rem;
}

.menu-navigation {
  display: flex;
  align-items: center;
  height: 100%;
}

.home-logo {
  margin-left: 10px;
  height: 35px;
}

.page-title {
  color: $dark-cerulean;
  font-family: $abril-ff;
  font-size: 4rem;
}
.menu-navigation-items a {
  color: $dark-cerulean;
  text-decoration: none;
}

.menu-navigation-items ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
  display: flex;
}

.menu-navigation-items li {
  padding: 0 2rem;
  font-size: 2.5rem;
}

.menu-item a:hover, .menu-item a:active {
  color: $queen-blue;
}

.spacer {
  flex: 1;
}

///// Toggle Button ////
.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 40px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 1rem;
}

.toggle-button:focus {
  outline: none;
}

.toggle-buttton-line {
  width: 30px;
  background: $dark-cerulean;
  height: 3px;
}
