///////Sidebar Menu ////////
.sidebar {
  height: 100%;
  background: $cerulean-blue;
  position: fixed;
  box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-110%);
  transition: transform 0.4s ease-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  padding: 30px;
}

.sidebar li {
  margin: 0.5rem 0;
}

.sidebar a {
  color: $harvest-gold;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .15rem;
}

.sidebar a:hover, .sidebar a:active {
  color: $white-smoke;
}

.sidebar-close-btn {
  font-family: helvetica;
  color: $harvest-gold;
  font-size: 3rem;
  text-align: right;
  padding-right: 10px;
}
.sidebar-close-btn:hover {
  color: $white-smoke;
  cursor: pointer;
}




///////////// MEDIA QUERIES /////////////////
@media (max-width: 768px) {
  .menu-navigation-items, .spacer {
    display: none;
  }
  .menu-navigation {
    justify-content: space-between;
  }
}

@media (min-width: 769px) {
  .sidebar {
    display: none;
  }

  .sidebar-toggle-btn-div {
    display: none;
  }
}
