@import './partials/normalize';
@import './partials/colors.scss';
@import './partials/fonts.scss';
@import './partials/skeleton.scss';
@import './components/menu.scss';
@import './components/sidebar.scss';

body {
  background: $isabelline;
  font-family: $poppins;
  font-weight: 100;
  font-size: 22px;
  color: $oxford-blue;
}

//// backdrop ///
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 100;
  top: 0;
  left: 0;
}

////Media queries sidebar ////
@media (max-width: 768px) {
  .menu-navigation-items, .spacer {
    display: none;
  }
  .menu-navigation {
    justify-content: space-between;
  }
}

@media (min-width: 769px) {
  .sidebar {
    display: none;
  }

  .sidebar-toggle-btn-div {
    display: none;
  }
}



/////// Header ///////
.header {
  padding-top: 90px;
  height: 90vh;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.header-title {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  font-family: $abril-ff;
  font-size: 15rem;
  width: 50%;
  padding-left: 2vw;
  color: $isabelline;
}

@media (max-width:415px) {
  .header {
    align-items: flex-start;
  }
  .header-title {
    font-size: 9rem;
    margin-top: 50px;
    margin-left: 5vw;
  }
}


////// GRID //////
.grid-title {
  text-align: center;
  margin-top: 40px;
}

.info-grid {
  margin-top: 10vh;
  margin-bottom: 30vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  justify-items: center;
  text-align: center;
}

.two {
  grid-template-columns: repeat(2, 1fr);
}

.three {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .info-grid {
    grid-template-columns: 1fr;
  }
}

.grid-cell {
  font-size: 2rem;
}

.container {
  z-index: -1;
}


///////////// Travel Page ///////////
.page-title {
  padding-top: 125px;
  text-align: center;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 175px;
}

.page-title img {
  height: 400px;
}

.page-name {
  font-family: $abril-ff;
  font-weight: 900;
  color: white;
  margin-top: -325px;
  font-size: 14rem;
  text-shadow: 0 0 60px rgba(0, 0, 0, 1);
}

#activities {
  font-size: 10rem;
  margin-top: -320px;
}
